body {
  font-family: Arial, sans-serif;
}

h1 {
  background-color: aquamarine;
  color: darkblue;
}

h3,
h6 {
  background-color: lightgray;
  color: darkred;
}

.list-item {
  color: blue;
  font-weight: bold;
}

.external-link {
  color: green;
  text-decoration: none;
}

.my_image {
  width: 201px;
  height: auto;
}

div p {
  color: white;
}

#unique_element {
  background-color: red;
  padding: 10px;
  width: 50%;
}

#my_form {
  margin-top: 10px;
}

#my_form input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}

.header {
  color: white;
  padding: 10px;
}

#highly_specific {
  background-color: aqua;
  position: relative;
  top: 10px;
}

/*! positioning */

.static {
  background-color: lightblue;
  /* static is the default position */
}

.relative {
  position: relative;
  left: 20px;
  top: 20px;
  background-color: lightcoral;
  /* moves the box 20px to the right and 20px down from its normal position */
}

.absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: lightgreen;
  /* positions the box at the bottom right corner of the closest positioned parent (or the viewport if no positioned parent) */
}

.fixed {
  position: fixed;
  right: 0;
  top: 0;
  background-color: lightsalmon;
  /* positions the box at the top right corner of the viewport */
}

.sticky {
  position: sticky;
  top: 0;
  background-color: lightpink;
  /* when scrolling, the box will stick to the top of the viewport until its parent is out of view */
}

.gap {
  position: relative;
  height: 200vh;
}
